<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <% if current_user != user%>
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= invitation(user)%>
    <% else %>
    <%= link_to 'My Profile',  user_path(user), class: 'profile-link' %>
    <% end %>
  </span>
</li>